#Creating Tuples

In [10]:
#empty
t1=()
print(type(t1))

#create a tuple with a single item
t2 = ("Hello",)
print(type(t2))

#homogenous tuple
t3 = (1,2,3,4)
print(type(t3))

#heterogeneous Tuple
t4 = (1,1.5,"Hello")
print(type(t4))

#2-D tuple
t5= (1,2,3,(4,5))
print(type(t5))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

# Accessing Items

- **Indexing**
- **Slicing**

In [11]:
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [12]:
t3[::-1]

(4, 3, 2, 1)

# Editing Items
Tuple items  cannot be changed once it is initialized . (Immutable)

In [13]:
print(t3)
t3[0] = 100

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

# Adding Items
Cant Add also  because Tuple is Immutable.

# Deletion
Cant delete  single member  ,  But we Can Delete  whole Tuple .

In [14]:
del t2[0]

TypeError: 'tuple' object doesn't support item deletion

In [16]:
del t2
print(t2)

NameError: name 't2' is not defined

# Operations on Tuple

- " + " and " * "
- membership operators
- iterations

In [17]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)
print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [21]:
# membership
print(1 in t1)
print(2 in t2)

True
False

In [24]:
#Iterations

for i in t1:
  print(i,end=" ")

1 2 3 4

# Tuple Functions

In [30]:
#len/sum/min/max/sorted

t= (1,2,3,4)

print(len(t))

print(sum(t))

print(min(t))

print(max(t))

print(sorted(t))
print(sorted(t,reverse = True)) # Returns List

4
10
1
4
[1, 2, 3, 4]
[4, 3, 2, 1]

In [31]:
# Count

t.count(5)

0

In [32]:
#index
t.index(1)

0

# Diffrence Between List and Tuple
- Syntax (List ->[ ] and Tuple ->( ) )
- Mutability(List Are Mutable but Tuples are not)
- Speed (Tuples are Faster than List )
- Memory ( Tuple Takes less Space )
- Built in Functionality
- Error prone (List are more Error prone because of mutability)
- Usability(for read-only we use  tuple)

# Tuple Unpacking

In [34]:
a,b,c  = (1,2,3)
print(a,b,c)

1 2 3

In [35]:
#Swaping Two values without  third variable

a , b = b , a
print(a,b)

2 1

In [37]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others) # means  rest  of the values assigned to others which is a  List

1 2
[3, 4]

Zipping Tuple

In [40]:
a = (1,2,3,4)
b=(5,6,7,8)
print(zip(a,b))
print(tuple(zip(a,b)))

<zip object at 0x7961f2cea240>
((1, 5), (2, 6), (3, 7), (4, 8))